[Desktop Entry]
Type=Application
Name=Bounce
Comment=Screensaver effect: bounce
Exec=env XCURSOR_PATH=/nonexistent XCURSOR_THEME=none xterm -fullscreen -bg black -fg white -ms black -xrm "XTerm*pointerColorBackground: black" -xrm "XTerm*pointerMode: 2" -e /usr/libexec/local76/screensavers/bounce
Icon=local76-bounce
Terminal=false
Categories=Screensaver;
